body {
	background-color: #f0f1f4;
}

h1 {
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 50px;
	color: black;
	margin-bottom: 5%;
}

p {
	font-size: 20px;
}

b {
	color: #0d96dc;
}

.main-content {
	margin-top: 15%;
}

.portfolio-image {
	width: 100%;
	border-radius: 50px;
	box-shadow: 5px 5px 5px #888888;
	height: 10%;

}

.second-row {
	margin-top: 5%;
	height: 20%;
	background-color: #bb0000;
	box-shadow: 0px 0px 20px #888888;
}

.third-row {
	padding: 7% 0%;
}

.first-skill {
	margin-top: 10%;
}

.code-image {
	margin-top: 10%;
	margin-right: 10%;
}

.red-section {
	margin-top: 10%;
	margin-bottom: 5%;
	color: white;
}

.first-bold{
	color: white;
}

.g-project {
	color: #1a99e1;
}

.fourth-row {
	background-color: #1a99e1;
	box-shadow: 0px 0px 20px #888888;

}

.other-skills {
	padding: 7% 0%;
}

.pumpkins-image {
	border-radius: 10px;
}

.linkedIn {
	border-radius: none;
	background-color: #3b5998;
	color: white;
	text-shadow: 0px 0px 2px #888888;
	box-shadow: 2px 2px 10% #888888;
	margin: 5% 20%;
} 

.real-estate-ag {
	margin-top: 11%;
	margin-bottom: 40px;
}

.city-image {
	height: 10%;
	width: 80%;
}